# Evaluación 1
Las datas frames elegidas corresponden a las siguientes páginas web: 
1. Population by country: 
2. Green House Emissions by country: 
3. Freshwater withdrawals by country:

In [4]:
population_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/population.csv"
h2O_withdrawl_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/freshwater_withdrawals.csv"
#pm2_5_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/pm2_5.csv"
forest_Link="https://www.worldometers.info/food-agriculture/forest-by-country/"

import pandas as pd
population=pd.read_csv(population_Link)
h2O_withdrawl=pd.read_csv(h2O_withdrawl_Link)
#pm2_5=pd.read_html(pm2_5_Link)
#pm2_5
forest=pd.read_html(forest_Link,header=0,flavor='bs4')
h2O_withdrawl

,Entity,Code,Year,"Annual freshwater withdrawals, total (billion cubic meters)"
0,Afghanistan,AFG,1975,1.070000e+10
1,Afghanistan,AFG,1976,1.198426e+10
2,Afghanistan,AFG,1977,1.326852e+10
3,Afghanistan,AFG,1978,1.455278e+10
4,Afghanistan,AFG,1979,1.583703e+10
...,...,...,...,...
5822,Zimbabwe,ZWE,2015,3.395000e+09
5823,Zimbabwe,ZWE,2016,3.402000e+09
5824,Zimbabwe,ZWE,2017,3.339000e+09
5825,Zimbabwe,ZWE,2018,3.771380e+09
5826,Zimbabwe,ZWE,2019,3.771380e+09