# Evaluación 1
Las datas frames elegidas corresponden a las siguientes páginas web: 
1. Population by country: 
2. Green House Emissions by country: 
3. Freshwater withdrawals by country:

In [7]:
import pandas as pd

ghg_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/population.csv"
#population_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/population.csv"
#h2O_withdrawl_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/freshwater_withdrawals.csv"

ghg=pd.read_csv(ghg_Link)
#population=pd.read_csv(population_Link)
#h2O_withdrawl=pd.read_csv(h2O_withdrawl_Link)

ghg

                                                                                                                                name;slug;value;date_of_information;ranking;region
China;china;1                                      413                                       142                                                846;2023;1;East and Southeast Asia
India;india;1                                      399                                       179                                                             585;2023;2;South Asia
United States;united-states;339                    665                                       118;2023;3;North America                                                          NaN
Indonesia;indonesia;279                            476                                       346;2023;4;East and Southeast Asia                                                NaN
Pakistan;pakistan;247                              653                                       551;2023;5;South Asia                                                             NaN
...                                                                                                                                                                            ...
Tokelau;tokelau;1                                  647;2019;233;Australia and Oceania        NaN                                                                               NaN
Paracel Islands;paracel-islands;1                  440;July 2014;234;East and Southeast Asia NaN                                                                               NaN
Holy See (Vatican City);holy-see-vatican-city;1    000;2022;235;Europe                       NaN                                                                               NaN
Cocos (Keeling) Islands;cocos-keeling-islands;5... NaN                                       NaN                                                                               NaN
Pitcairn Islands;pitcairn-islands;50;2021;237;A... NaN                                       NaN                                                                               NaN

[237 rows x 1 columns]