# Evaluación 1
Las datas frames elegidas corresponden a las siguientes páginas web: 
1. Population by country: 
2. Green House Emissions by country: 
3. Freshwater withdrawals by country:

In [203]:
#Links to databases in folder "data" in repository "Evalucion1"
population_Link="https://www.cia.gov/the-world-factbook/field/population/country-comparison/"
h2O_withdrawl_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/freshwater_withdrawals.csv"
pm2_5_Link="https://github.com/SpatialDataScience23-2/Evaluacion1/raw/main/data/pm2_5.csv"

import pandas as pd
population=pd.read_html(population_Link, header=0, flavor= 'bs4')
h2O_withdrawl=pd.read_csv(h2O_withdrawl_Link)
pm2_5=pd.read_csv(pm2_5_Link)

population_new=population[0]

     Rank                  Country  Unnamed: 2 Date of Information
0       1                    China  1413142846           2023 est.
1       2                    India  1399179585           2023 est.
2       3            United States   339665118           2023 est.
3       4                Indonesia   279476346           2023 est.
4       5                 Pakistan   247653551           2023 est.
..    ...                      ...         ...                 ...
232   233                  Tokelau        1647           2019 est.
233   234          Paracel Islands        1440      July 2014 est.
234   235  Holy See (Vatican City)        1000           2022 est.
235   236  Cocos (Keeling) Islands         596      July 2014 est.
236   237         Pitcairn Islands          50           2021 est.

[237 rows x 4 columns]

### df1: h2O_withdrawl
1. In this data base we have the information of the total annual freswater withdrawls by each country from 1975-2019
2. That's alot of data, so I decided to restrict it to just the variable values of year 2018
3. We recall the reduced data base with the name "h2O"

In [53]:
h2O_new=h2O_withdrawl.copy()
h2O_new.Year.value_counts()

Year
2018    195
2019    195
2017    195
2016    195
2015    195
2014    195
2013    181
2012    181
2011    177
2010    177
2009    176
2008    176
2007    173
2006    171
2005    167
2004    165
2003    164
2002    163
2001    160
2000    158
1999    148
1998    147
1997    146
1996    145
1995    143
1994    137
1993    131
1992    122
1991    110
1990    104
1989     91
1988     90
1987     89
1986     62
1985     61
1984     56
1983     55
1982     55
1981     54
1980     54
1976     35
1979     35
1978     35
1977     35
1975     34
1974     17
1970     16
1971     16
1972     16
1973     16
1965      2
1966      2
1967      2
1968      2
1969      2
1962      1
1963      1
1964      1
Name: count, dtype: int64

In [204]:
#we restrict the Year value to only 2018
h2O_new_1=h2O_new[h2O_new["Year"]==2018]
h2O_new_1.Year.value_counts()
#we eliminate the column "Year"
h2O=h2O_new_1.drop(columns="Year")
h2O

,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
43,Afghanistan,AFG,2.028200e+10
73,Albania,ALB,9.580000e+08
123,Algeria,DZA,9.802000e+09
156,Angola,AGO,7.057000e+08
186,Antigua and Barbuda,ATG,4.400000e+06
...,...,...,...
5728,West Bank and Gaza,NaN,2.997000e+08
5734,World,OWID_WRL,3.955609e+12
5764,Yemen,YEM,3.565000e+09
5792,Zambia,ZMB,1.572000e+09
5825,Zimbabwe,ZWE,3.771380e+09

### df2: PM2.5
1. In this data base we have the information of the PM2.5 by each country
2. There are value for 2018 and 2019, so I decided to restrict it to just the variable values of year 2018
3. We recall the reduced data base with the name "pm25"

In [205]:
pm2_5.Year.value_counts()

Year
2018    239
2019    239
Name: count, dtype: int64

In [206]:
pm2_5_new=pm2_5.copy()
pm2_5_new_1=pm2_5_new[pm2_5_new["Year"]==2018]
pm2_5_new_1.YEA.value_counts()

YEA
2018    239
Name: count, dtype: int64

In [207]:
pm25=pm2_5_new_1.copy()
byeColumns=['Year','YEA']
pm25.drop(columns=byeColumns,inplace=True)
pm25

,COU,Country,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.730,E,Estimated value
2,AUT,Austria,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.720,E,Estimated value
4,BEL,Belgium,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.540,E,Estimated value
6,CAN,Canada,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.090,E,Estimated value
8,CZE,Czech Republic,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,17.560,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,OECD,OECD - Total,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.058,E,Estimated value
470,OECDE,OECD - Europe,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,14.818,E,Estimated value
472,EA19,Euro area (19 countries),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,12.326,E,Estimated value
474,EU27_2020,European Union – 27 countries (from 01/02/2020),NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,13.605,E,Estimated value
476,MYT,Mayotte,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.880,E,Estimated value

### df3: population
1. In this data base we have the information of the total population by each country
2. There is data from year 2000 to 2023
3. I will restrict it to the population value for year 2018
4. The filtered df will have the name "pop"

In [209]:
population_new
population_new.columns

Index(['Rank', 'Country', 'Unnamed: 2', 'Date of Information'], dtype='object')

In [213]:
population_new.columns=population_new.columns.str.replace(' ','_')
population_new.rename(columns={'Unnamed:_2':'Population'},inplace=True)
population_new

     Rank                  Country  Population Date_of_Information
0       1                    China  1413142846           2023 est.
1       2                    India  1399179585           2023 est.
2       3            United States   339665118           2023 est.
3       4                Indonesia   279476346           2023 est.
4       5                 Pakistan   247653551           2023 est.
..    ...                      ...         ...                 ...
232   233                  Tokelau        1647           2019 est.
233   234          Paracel Islands        1440      July 2014 est.
234   235  Holy See (Vatican City)        1000           2022 est.
235   236  Cocos (Keeling) Islands         596      July 2014 est.
236   237         Pitcairn Islands          50           2021 est.

[237 rows x 4 columns]

In [215]:
h2O.shape, population_new.shape, pm25.shape

((195, 3), (237, 4), (239, 17))

In [219]:
pm25.columns

Index(['COU', 'Country', 'SMALL_SUBNATIONAL_REGION',
       'Small subnational region', 'LARGE_SUBNATIONAL_REGION',
       'Large subnational region', 'VAR', 'Variable', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [221]:
# We are gonna merge population and pm25

df1=population_new.merge(pm25, left_on='Country', right_on='Country')
df1

,Rank,Country,Population,Date_of_Information,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,Variable,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,2,India,1399179585,2023 est.,IND,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,68.120,E,Estimated value
1,3,United States,339665118,2023 est.,USA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.840,E,Estimated value
2,4,Indonesia,279476346,2023 est.,IDN,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,18.690,E,Estimated value
3,5,Pakistan,247653551,2023 est.,PAK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,64.300,E,Estimated value
4,6,Nigeria,230842743,2023 est.,NGA,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,57.040,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,227,Saint Pierre and Miquelon,5195,2023 est.,SPM,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,8.920,E,Estimated value
196,231,Niue,2000,July 2022 est.,NIU,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,6.730,E,Estimated value
197,232,Norfolk Island,1748,2016 est.,NFK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,6.118,NaN,NaN
198,233,Tokelau,1647,2019 est.,TKL,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.170,E,Estimated value
199,236,Cocos (Keeling) Islands,596,July 2014 est.,CCK,NaN,Not applicable,TOTAL,Total,PWM_EX,Mean population exposure to PM2.5,MICRO_M3,Micrograms per cubic metre,0,Units,NaN,NaN,7.893,NaN,NaN

In [222]:
# We are gonna merge the previous merge and h2O
df2=df1.merge(h2O, left_on='Country', right_on='Entity')
df2

,Rank,Country,Population,Date_of_Information,COU,SMALL_SUBNATIONAL_REGION,Small subnational region,LARGE_SUBNATIONAL_REGION,Large subnational region,VAR,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,2,India,1399179585,2023 est.,IND,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,68.12,E,Estimated value,India,IND,6.475000e+11
1,3,United States,339665118,2023 est.,USA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,7.84,E,Estimated value,United States,USA,4.443961e+11
2,4,Indonesia,279476346,2023 est.,IDN,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,18.69,E,Estimated value,Indonesia,IDN,2.226350e+11
3,5,Pakistan,247653551,2023 est.,PAK,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,64.30,E,Estimated value,Pakistan,PAK,1.927400e+11
4,6,Nigeria,230842743,2023 est.,NGA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,57.04,E,Estimated value,Nigeria,NGA,1.247200e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,195,Saint Vincent and the Grenadines,100804,2023 est.,VCT,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,23.62,E,Estimated value,Saint Vincent and the Grenadines,VCT,7.900000e+06
158,197,Seychelles,97617,2023 est.,SYC,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,8.98,E,Estimated value,Seychelles,SYC,1.129400e+07
159,201,Dominica,74656,2023 est.,DMA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,20.15,E,Estimated value,Dominica,DMA,2.000000e+07
160,207,Saint Kitts and Nevis,54817,2023 est.,KNA,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,7.54,E,Estimated value,Saint Kitts and Nevis,KNA,1.220000e+07
161,216,Monaco,31597,2023 est.,MCO,NaN,Not applicable,TOTAL,Total,PWM_EX,...,0,Units,NaN,NaN,10.70,E,Estimated value,Monaco,MCO,5.000000e+06

In [227]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 23 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Rank                                                         162 non-null    int64
 1   Country                                                      162 non-null    object
 2   Population                                                   162 non-null    int64
 3   Date_of_Information                                          162 non-null    object
 4   COU                                                          162 non-null    object
 5   SMALL_SUBNATIONAL_REGION                                     0 non-null      float64
 6   Small subnational region                                     162 non-null    object
 7   LARGE_SUBNATIONAL_REGION                                     162 non-null    object
 8   Large subnational region                                     162 non-null    object
 9   VAR                                                          162 non-null    object
 10  Variable                                                     162 non-null    object
 11  Unit Code                                                    162 non-null    object
 12  Unit                                                         162 non-null    object
 13  PowerCode Code                                               162 non-null    int64
 14  PowerCode                                                    162 non-null    object
 15  Reference Period Code                                        0 non-null      float64
 16  Reference Period                                             0 non-null      float64
 17  Value                                                        162 non-null    float64
 18  Flag Codes                                                   160 non-null    object
 19  Flags                                                        160 non-null    object
 20  Entity                                                       162 non-null    object
 21  Code                                                         162 non-null    object
 22  Annual freshwater withdrawals, total (billion cubic meters)  162 non-null    float64
dtypes: float64(5), int64(3), object(15)
memory usage: 29.2+ KB

We have lost several countries. Then we will try fuzzy mode

In [232]:
#pm25.columns

Index(['COU', 'Country', 'SMALL_SUBNATIONAL_REGION',
       'Small subnational region', 'LARGE_SUBNATIONAL_REGION',
       'Large subnational region', 'VAR', 'Variable', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [233]:
OnlyPopulation=set(population_new.Country)-set(pm25.Country)
OnlyPm25=set(pm25.Country)-set(population_new.Country)

from thefuzz import process as fz
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)]

[('Bahamas', ('Bahamas, The', 90)),
 ('Brunei Darussalam', ('Brunei', 90)),
 ("China (People's Republic of)", ('China', 90)),
 ('Chinese Taipei', ('China', 72)),
 ('Christmas Islands', ('Christmas Island', 97)),
 ('Congo', ('Congo, Republic of the', 90)),
 ('Czech Republic', ('Congo, Republic of the', 86)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ("Democratic People's Republic of Korea", ('Korea, South', 86)),
 ('Democratic Republic of the Congo', ('Congo, Republic of the', 95)),
 ('Euro area (19 countries)', ('Korea, South', 55)),
 ('European Union (28 countries)', ('Korea, North', 47)),
 ('European Union – 27 countries (from 01/02/2020)', ('Korea, North', 45)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands (Malvinas)', ('Falkland Islands (Islas Malvinas)', 95)),
 ('G20', ('Congo, Republic of the', 30)),
 ('G7', ('Gaza Strip', 45)),
 ('Gambia', ('Gambia, The', 90)),
 ('Holy See', ('Holy See (Vatican City)', 90)),
 ('Hong Kong, China', ('Hong Kong', 90)),
 ('Korea', ('Korea, South', 90)),
 ("Lao People's Democratic Republic",
  ('Congo, Democratic Republic of the', 71)),
 ('Macau, China', ('China', 90)),
 ('Mayotte', ('Sint Maarten', 51)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('Myanmar', ('Saint Martin', 53)),
 ('Netherlands Antilles', ('Micronesia, Federated States of', 46)),
 ('OECD - Europe', ("Cote d'Ivoire", 46)),
 ('OECD - Total', ('Korea, South', 50)),
 ('Palestinian Authority or West Bank and Gaza Strip', ('West Bank', 90)),
 ('Pitcairn', ('Pitcairn Islands', 90)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('Slovak Republic', ('Congo, Democratic Republic of the', 86)),
 ('South Sudan ', ('South Sudan', 100)),
 ('Syrian Arab Republic', ('Syria', 90)),
 ('Türkiye', ('Turkey (Turkiye)', 75)),
 ('United States Virgin Islands', ('Virgin Islands', 90)),
 ('Viet Nam', ('Vietnam', 93)),
 ('World', ('Micronesia, Federated States of', 36))]

In [234]:
[(f,fz.extractOne(f, OnlyPopulation)) for f in sorted(OnlyPm25)
 if fz.extractOne(f, OnlyPopulation)[1]>=87]

[('Bahamas', ('Bahamas, The', 90)),
 ('Brunei Darussalam', ('Brunei', 90)),
 ("China (People's Republic of)", ('China', 90)),
 ('Christmas Islands', ('Christmas Island', 97)),
 ('Congo', ('Congo, Republic of the', 90)),
 ("Côte d'Ivoire", ("Cote d'Ivoire", 96)),
 ('Democratic Republic of the Congo', ('Congo, Republic of the', 95)),
 ('Faeroe Islands', ('Faroe Islands', 96)),
 ('Falkland Islands (Malvinas)', ('Falkland Islands (Islas Malvinas)', 95)),
 ('Gambia', ('Gambia, The', 90)),
 ('Holy See', ('Holy See (Vatican City)', 90)),
 ('Hong Kong, China', ('Hong Kong', 90)),
 ('Korea', ('Korea, South', 90)),
 ('Macau, China', ('China', 90)),
 ('Micronesia', ('Micronesia, Federated States of', 90)),
 ('Palestinian Authority or West Bank and Gaza Strip', ('West Bank', 90)),
 ('Pitcairn', ('Pitcairn Islands', 90)),
 ('Saint Helena', ('Saint Helena, Ascension, and Tristan da Cunha', 90)),
 ('South Sudan ', ('South Sudan', 100)),
 ('Syrian Arab Republic', ('Syria', 90)),
 ('United States Virgin Islands', ('Virgin Islands', 90)),
 ('Viet Nam', ('Vietnam', 93))]

In [236]:
# We have to create a dictionary
changesPopulation1={f:fz.extractOne(f, OnlyPopulation)[0] 
                 for f in sorted(OnlyPm25)
                 if fz.extractOne(f, OnlyPopulation)[1] >=87}
#dict of matches
changesPopulation1

{'Bahamas': 'Bahamas, The',
 'Brunei Darussalam': 'Brunei',
 "China (People's Republic of)": 'China',
 'Christmas Islands': 'Christmas Island',
 'Congo': 'Congo, Republic of the',
 "Côte d'Ivoire": "Cote d'Ivoire",
 'Democratic Republic of the Congo': 'Congo, Republic of the',
 'Faeroe Islands': 'Faroe Islands',
 'Falkland Islands (Malvinas)': 'Falkland Islands (Islas Malvinas)',
 'Gambia': 'Gambia, The',
 'Holy See': 'Holy See (Vatican City)',
 'Hong Kong, China': 'Hong Kong',
 'Korea': 'Korea, South',
 'Macau, China': 'China',
 'Micronesia': 'Micronesia, Federated States of',
 'Palestinian Authority or West Bank and Gaza Strip': 'West Bank',
 'Pitcairn': 'Pitcairn Islands',
 'Saint Helena': 'Saint Helena, Ascension, and Tristan da Cunha',
 'South Sudan ': 'South Sudan',
 'Syrian Arab Republic': 'Syria',
 'United States Virgin Islands': 'Virgin Islands',
 'Viet Nam': 'Vietnam'}

In [226]:
import os
country_isos=pd.read_excel(os.path.join("data","country_isos.xlsx"))
country_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [228]:
df2.Country=df2.Country.str.upper()
country_isos.merge(df2, left_on='Country',right_on='Country')

,Country,Officialstatename,InternetccTLD,iso2,iso3,Rank,Population,Date_of_Information,COU,SMALL_SUBNATIONAL_REGION,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Entity,Code,"Annual freshwater withdrawals, total (billion cubic meters)"
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,37,39232003,2023 est.,AFG,NaN,...,0,Units,NaN,NaN,68.27,E,Estimated value,Afghanistan,AFG,2.028200e+10
1,ALBANIA,The Republic of Albania,.al,AL,ALB,137,3101621,2023 est.,ALB,NaN,...,0,Units,NaN,NaN,18.90,E,Estimated value,Albania,ALB,9.580000e+08
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,34,44758398,2023 est.,DZA,NaN,...,0,Units,NaN,NaN,24.93,E,Estimated value,Algeria,DZA,9.802000e+09
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,41,35981281,2023 est.,AGO,NaN,...,0,Units,NaN,NaN,24.20,E,Estimated value,Angola,AGO,7.057000e+08
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,194,101489,2023 est.,ATG,NaN,...,0,Units,NaN,NaN,18.99,E,Estimated value,Antigua and Barbuda,ATG,4.400000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,URUGUAY,The Oriental Republic of Uruguay,.uy,UY,URY,132,3416264,2023 est.,URY,NaN,...,0,Units,NaN,NaN,10.16,E,Estimated value,Uruguay,URY,3.660000e+09
132,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,48,31360836,2023 est.,UZB,NaN,...,0,Units,NaN,NaN,36.29,E,Estimated value,Uzbekistan,UZB,5.890400e+10
133,YEMEN,The Republic of Yemen,.ye,YE,YEM,47,31565602,2023 est.,YEM,NaN,...,0,Units,NaN,NaN,44.03,E,Estimated value,Yemen,YEM,3.565000e+09
134,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,63,20216029,2023 est.,ZMB,NaN,...,0,Units,NaN,NaN,23.36,E,Estimated value,Zambia,ZMB,1.572000e+09
135,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,73,15418674,2023 est.,ZWE,NaN,...,0,Units,NaN,NaN,19.16,E,Estimated value,Zimbabwe,ZWE,3.771380e+09

In [229]:
# We have lost several countries, then we do the fuzzy merge
OnlyDf2=set(df2.Country)-set(country_isos.Country)
OnlyISOS=set(country_isos.Country)-set(df2.Country)

[('BOLIVIA', ('BOLIVIA (PLURINATIONAL STATE OF)', 90)),
 ('CENTRAL AFRICAN REPUBLIC', ('CENTRAL AFRICAN REPUBLIC (THE)', 95)),
 ('COMOROS', ('COMOROS (THE)', 90)),
 ('DOMINICA', ('DOMINICAN REPUBLIC (THE)', 90)),
 ('DOMINICAN REPUBLIC', ('DOMINICAN REPUBLIC (THE)', 95)),
 ('ERITREA', ('UNITED ARAB EMIRATES (THE)', 51)),
 ('IRAN', ('IRAN (ISLAMIC REPUBLIC OF)', 90)),
 ('ISRAEL', ('UNITED ARAB EMIRATES (THE)', 57)),
 ('MOLDOVA', ('MOLDOVA (THE REPUBLIC OF)', 90)),
 ('MONACO', ('SAMOA', 55)),
 ('NETHERLANDS', ('NETHERLANDS (THE)', 95)),
 ('NIGER', ('NIGER (THE)', 90)),
 ('PHILIPPINES', ('PHILIPPINES (THE)', 95)),
 ('PUERTO RICO', ('BOLIVIA (PLURINATIONAL STATE OF)', 50)),
 ('RUSSIA', ('RUSSIAN FEDERATION (THE)', 90)),
 ('SAINT KITTS AND NEVIS',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 86)),
 ('SAINT LUCIA', ('CHINA', 54)),
 ('SAINT VINCENT AND THE GRENADINES', ('BAHAMAS (THE)', 86)),
 ('SOMALIA', ('SLOVAKIA', 67)),
 ('SOUTH AFRICA', ('SOUTH SUDAN', 61)),
 ('SUDAN', ('SOUTH SUDAN', 90)),
 ('TANZANIA', ('TANZANIA, THE UNITED REPUBLIC OF', 90)),
 ('UNITED ARAB EMIRATES', ('UNITED ARAB EMIRATES (THE)', 95)),
 ('UNITED KINGDOM',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 90)),
 ('UNITED STATES', ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', 90)),
 ('VENEZUELA', ('NETHERLANDS (THE)', 50))]

In [230]:
from thefuzz import process as fz
[(f,fz.extractOne(f, OnlyISOS)) for f in sorted(OnlyDf2)]

[('BOLIVIA', ('BOLIVIA (PLURINATIONAL STATE OF)', 90)),
 ('CENTRAL AFRICAN REPUBLIC', ('CENTRAL AFRICAN REPUBLIC (THE)', 95)),
 ('COMOROS', ('COMOROS (THE)', 90)),
 ('DOMINICA', ('DOMINICAN REPUBLIC (THE)', 90)),
 ('DOMINICAN REPUBLIC', ('DOMINICAN REPUBLIC (THE)', 95)),
 ('ERITREA', ('UNITED ARAB EMIRATES (THE)', 51)),
 ('IRAN', ('IRAN (ISLAMIC REPUBLIC OF)', 90)),
 ('ISRAEL', ('UNITED ARAB EMIRATES (THE)', 57)),
 ('MOLDOVA', ('MOLDOVA (THE REPUBLIC OF)', 90)),
 ('MONACO', ('SAMOA', 55)),
 ('NETHERLANDS', ('NETHERLANDS (THE)', 95)),
 ('NIGER', ('NIGER (THE)', 90)),
 ('PHILIPPINES', ('PHILIPPINES (THE)', 95)),
 ('PUERTO RICO', ('BOLIVIA (PLURINATIONAL STATE OF)', 50)),
 ('RUSSIA', ('RUSSIAN FEDERATION (THE)', 90)),
 ('SAINT KITTS AND NEVIS',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 86)),
 ('SAINT LUCIA', ('CHINA', 54)),
 ('SAINT VINCENT AND THE GRENADINES', ('BAHAMAS (THE)', 86)),
 ('SOMALIA', ('SLOVAKIA', 67)),
 ('SOUTH AFRICA', ('SOUTH SUDAN', 61)),
 ('SUDAN', ('SOUTH SUDAN', 90)),
 ('TANZANIA', ('TANZANIA, THE UNITED REPUBLIC OF', 90)),
 ('UNITED ARAB EMIRATES', ('UNITED ARAB EMIRATES (THE)', 95)),
 ('UNITED KINGDOM',
  ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)', 90)),
 ('UNITED STATES', ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', 90)),
 ('VENEZUELA', ('NETHERLANDS (THE)', 50))]